﻿@{ var ponentes = (List<Ponente>)Model;
    int n;
    if (ponentes.Count() > 6)
    {
        n = 6;
    }
    else
    {
        n = ponentes.Count();
    }
    var conferencia = (List<Conferencia>)ViewBag.Conferencia;
    int f;
    if (conferencia.Count() > 2)
    {
        f = 2;
    }
    else
    {
        f = conferencia.Count();
    }

}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald|PT+Sans" rel="stylesheet">

    <link rel="stylesheet" href="/css/colorbox.css">

    <link rel="stylesheet" href="/css/Nosotros.css">
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>


<body class="index">

    <header class="site-header">
        <div class="hero">
            <div class="contenido-header">
                <nav class="redes-sociales">
                    <a href="https://www.facebook.com/Gold-Conf-101088928504837"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/gold_conference"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.youtube.com/channel/UCVbYnjINFhIA_qLPC9zAa8Q"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://www.instagram.com/GOLDCONF_/"><i class="fa fa-instagram"></i></a>

                </nav>

                <div class="informacion-evento">
                    <div class="clearfix">
                        <p class="fecha"><i class="fa fa-calendar" aria-hidden="true"></i> @DateTime.Now</p>
                        <p class="ciudad"><i class="fa fa-map-marker" aria-hidden="true"></i> Cajamarca, PERÚ</p>
                    </div>

                    <div class="gold">
                        <h1 class="nombre-sitio">GOLD CONF</h1>
                        <p class="slogan">La mejor conferencia de <span>diseño web</span></p>
                    </div>

                </div>
                <!--.informacion-evento-->

            </div>
        </div>
        <!--.hero-->
    </header>
    
    <div class="barra">
        <div class="contenedor clearfix">
            <div class="logo">
                <a href="#">
                    <img src="img/LOGO.png" alt="logo">
                </a>
            </div>

            <div class="menu-movil">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <nav class="navegacion-principal clearfix">
                <a href="/conferencia/Pasadas">Mis Conferencias</a>
                <a href="/conferencia/Futuras">Calendario</a>
                <a href="ponente/ponente">Invitados</a>
                @if (!User.Identity.IsAuthenticated)
                {
                    <a href="/Auth/Login">Login</a>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="/Auth/Logout"><i class="fa fa-power-off" aria-hidden="true"></i></a>
                    <a href="/Cuenta/Index">@User.Claims.FirstOrDefault().Value</a>
                }
            </nav>
        </div>
        <!--.contenedor-->
    </div>
    <!--.barra-->
    <section class="seccion contenedor">
        <h2>Bienvenido a Gold Conference</h2>
        <p>
            Somos su conexión virtual a los conferencistas más destacadas y renombradas de Perú, Latinoamérica y el Mundo. Actualmente, abarcamos el continente americano acercando las mentes más brillantes de todo el mundo a las empresas e instituciones que buscan una figura sobresaliente para sus eventos privados y corporativos. Contamos con más de 20 conferencistas de una gran variedad de disciplinas centradas únicamente en tecnologías como HTML5, XML, CSS, JavaScript, PHP, WordPress), entre otras.
            En GOLD CONFERENCE tenemos el ponente ideal para su reunión y presupuesto.
        </p>
    </section>
    <!--seccion-->

    <section class="programa">
        <div class="contenedor-video">
            <video autoplay loop poster="bg-talleres.jpg">
                <source src="video/video.mp4" type="video/mp4">
                <source src="video/video.webm" type="video/webm">
                <source src="video/video.ogv" type="video/ogg">
            </video>
        </div>
        <!--.contenedor-video-->
        <div class="contenido-programa">
            <div class="contenedor">
                <div class="programa-evento">
                    <h2>Programa del Evento</h2>
                    <nav class="menu-programa">
                        <a href="#conferencias">
                            <i class="fa fa-comment" aria-hidden="true"></i> Conferencias
                        </a>
                    </nav>
                    <div id="conferencias" class="info-curso ocultar clearfix">
                        @for (int i = 0; i < f; i++)
                        {
                            var item = conferencia[i];
                            <div class="detalle-evento">
                                <h3>@item.TituloConf</h3>
                                <p><i class="fa fa-clock-o" aria-hidden="true"></i> @string.Format("{0: hh:mm tt}", item.FechaConf)</p>
                                <p><i class="fa fa-calendar" aria-hidden="true"></i> @string.Format("{0:dd MMMM yyyy}", item.FechaConf)</p>
                                <p><i class="fa fa-user" aria-hidden="true"></i> @item.Ponentes.NomApe</p>
                            </div>
                        }
                        <a href="conferencia/conferencias" class="button float-right">Ver todos</a>
                    </div>
                </div>
                <!--.programa-evento-->
            </div>
            <!--.contenedor-->
        </div>
        <!--.contenido-programa-->
    </section>
    <!--.programa-->

    <section class="invitados contenedor seccion">
        <h2>Nuestros conferencistas</h2>
        <ul class="lista-invitados clearfix">

            @for (int i = 0; i < n; i++)
            {
                var item = ponentes[i];
                <li>
                    <div class="invitado">
                        <a class="invitado-info" href="#@item.Id">
                            <img src="@item.Imagen" alt="Imagen invitado">
                            <p>@item.NomApe</p>
                        </a>
                    </div>
                    <!-- END .invitado -->
                </li>

                <div style="display:none;">

                    <div class="invitado-info" id="@item.Id">
                        <h2>@item.NomApe</h2>
                        <img src="@item.Imagen" alt="" width="240" height="135">
                        <h4>Título profesional</h4>
                        <p>@item.Especialidad</p>
                        <h4>Educación y Logros</h4>
                        <p>@item.Logros</p>
                        <h4>Experiencia laboral</h4>
                        <p>@item.Experiencia</p>
                        <h4>Contactos</h4>
                        <p>@item.Telefono</p>
                        <p>@item.Email</p>

                    </div>
                </div>
            }
        </ul>
        <!-- END lista-invitados -->
    </section>

    <footer class="site-footer">
        <div class="contenedor clearfix">
            <div class="footer-informacion">
                <h3>Sobre <span>gold conference</span></h3>
                <p>
                    Somos su conexión virtual a los conferencistas más destacadas y renombradas de Perú, Latinoamérica y el Mundo. Actualmente, abarcamos el continente americano acercando las mentes más brillantes de todo el mundo a las empresas e instituciones que buscan una figura sobresaliente para sus eventos privados y corporativos. Contamos con más de 20 conferencistas de una gran variedad de disciplinas centradas únicamente en tecnologías como HTML5, XML, CSS, JavaScript, PHP, WordPress), entre otras.
                    En GOLD CONFERENCE tenemos el ponente ideal para su reunión y presupuesto.
                </p>
            </div>

            <div class="ultimos-tweets">
                <h3>Últimos <span>tweets</span></h3>
                <a class="twitter-timeline" data-height="400" data-theme="light" data-link-color="#fe4918" href="https://twitter.com/gold_conference">Tweets by</a>

                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

            <div class="menu">
                <h3>Redes <span>sociales</span></h3>
                <nav class="redes-sociales">
                    <a href="https://www.facebook.com/Gold-Conf-101088928504837"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/gold_conference"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.youtube.com/channel/UCVbYnjINFhIA_qLPC9zAa8Q"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://www.instagram.com/GOLDCONF_/"><i class="fa fa-instagram"></i></a>

                </nav>
            </div>
        </div>

        <p class="copyright">
            Todos los derechos Reservados GOLD CONFERENCE 2020.
        </p>

    </footer>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-animateNumber/0.0.14/jquery.animateNumber.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.4/jquery.colorbox-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/cotizador.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeSzprwFmUOSsAIf36sT9hONLvf3ReD_4&callback=initMap" async defer></script>

</body>

